html,body {
  margin: 0;
  padding-top: 35px;
}

h2 {
  font-size: 24px;
}

h2, h5, p, .card-header, .btn, .link-dark {
  font-family: 'Lato', sans-serif;
}

#nav-img {
  height: 30px;
}

.nav-height {
  height: 70px;
}

.form-control {
  width: 250px;
  height: 30px;
}

.form-text {
  font-size:12px;
}

.btn-warning {
  height: 30px;
  display: flex;
  align-items: center;
}

.container-width {
  max-width: 1000px;
}

#fire-img {
  height: 50px;
  margin-left: 20px;
}

.card {
  min-width: 300px;
}


.anchor-spacing {
  display: block;
  position: absolute;
  visibility: hidden;
  margin-top: -70px;
}

.link-dark:hover {
  color: orange;
}

.link-dark:active {
  color: rgb(177, 115, 0);
}

/* ////////////MEDIA QUERIES///////////// */

/* stacks pricing cards */
@media only screen and (max-width: 991px ) {
  .pricing-cards{
    flex-direction: column;
    align-items: center;
    max-width: 330px;
  }
  .card {
    margin: 2px 0px 5px 0px !important;
  }
}


/* adjust nav-bar when no room between image and links */
@media only screen and (max-width:616px ) {
  .nav-alignment {
    display: flex;
    justify-content: center !important;
  }

  /* image has empty space to left so center alignment looked off */
  #nav-img {
    margin-right: 10px;
  }
}

/* aligns Text */
@media only screen and (max-width:575px) {
  .features-txt {
    text-align: center;
  }
}